.scroll_to_top {
  position: fixed;
  background-color: #000a35;
  /* bottom: 10px;
    height: 60px;
    right: 0px; 
    width: 120px;*/
  bottom: 100px;
  height: 60px;
  right: 25px;
  width: 60px;
  z-index: 20;
  padding: 12px;
  /* border-top-left-radius: 15px; */
  /* border-bottom-left-radius: 15px; */
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: translateX(64px); */
  opacity: 0.7;
  background-color: #673ab7;
}
.scroll-top-img {
  height: 30px;
  width: auto;
  /* margin-right: 12px; */
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #b098f3;
}

.scroll_to_top:hover {
  /* transform: translateX(0px); */
  transition: all 0.3s;
  opacity: 1;
}

/* .scroll_to_top:not(:hover) {
    transform: translateX(64px);
    transition: all 0.3s;
    opacity: 0.7;
  } */

.box-btn-connect {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-connect {
  background: #0ef2d9;
  padding: 7px 12px;
  border-radius: 17px;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.btn-connect:hover {
  background-color: rgb(31, 199, 212);
}
.btn-connect > p,
.content-connect > p {
  margin: 0px;
  color: #425d5a;
  font-weight: bold;
}
.btn-connect:hover p {
  color: #fff;
}
.cover-svg-connect {
  display: flex;
  position: absolute;
  border-radius: 50%;
  border: 4px solid #000;
  z-index: 9;
  left: -1px;
  top: 0px;
}
.cover-svg-connect > svg {
  width: 31px;
}
.content-connect {
  padding-left: 33px;
  display: flex;
}
.mobile-menu,
.menu-icon-toggle.change {
  position: fixed !important;
}

.topOfMenu {
  z-index: 999999 !important;
}

@media (max-width: 1200px) {
  body {
    background-image: linear-gradient(to left, #6191d1, #536dc8);
    height: 100vh;
  }

  * {
    box-sizing: border-box;
  }

  .menu-icon-toggle.change {
    top: 50px;
    right: 7%;
  }
  .content-backdrop {
    width: 100%;
  }

  .group-control {
    position: absolute;
    top: 93vh;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    z-index: 99999;
  }

  .menu-icon-toggle {
    z-index: 99;
  }

  .menu-background {
    visibility: hidden;
    width: 300%;
    height: 250px;
    position: absolute;
    left: -130%;
    background-color: #5433ad;
    transition: background-position 0.3s, transform 0.3s 0.23s,
      visibility 0.3s 0.1s;
    z-index: 99;
  }

  .open .menu-background {
    visibility: visible;
    transition: background-position 0.3s, transform 0.3s 0.3s;
  }

  .menu-background.top {
    transform: rotate(-45deg) translateY(-65%);
    background: linear-gradient(to top, #6191d1 50%, #5433ad 50%);
    background-size: 100% 200%;
    background-position: -100% 100%;
  }

  .open .menu-background.top {
    transform: rotate(-45deg) translateY(-65%);
    background-position: 0 0;
  }

  .menu-background.middle {
    transform: rotate(-45deg) translateY(30%) scaleY(0);
    background: #5433ad;
  }

  .open .menu-background.middle {
    transform: rotate(-45deg) translateY(30%) scaleY(1);
  }

  .menu-background.bottom {
    transform: rotate(-45deg) translateY(120%);
    background: linear-gradient(to bottom, #5433ad 50%, #6191d1 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
  }

  .open .menu-background.bottom {
    transform: rotate(-45deg) translateY(120%);
    background-position: 0 0;
  }

  .menu-background.top2 {
    transform: rotate(-45deg) translateY(210%) translateX(-14px);
    background: linear-gradient(to top, #6191d1 50%, #5433ad 50%);
    background-size: 100% 200%;
    background-position: -100% 100%;
  }

  .open .menu-background.top2 {
    transform: rotate(-45deg) translateY(210%) translateX(-14px);
    background-position: 0 0;
  }

  .menu-background.middle2 {
    transform: rotate(-45deg) translateY(300%) translateX(-67px) scaleY(0);
    background: #5433ad;
  }

  .open .menu-background.middle2 {
    transform: rotate(-45deg) translateY(300%) translateX(-67px) scaleY(1);
  }

  .menu-background.bottom2 {
    transform: rotate(-45deg) translateY(390%) translateX(-50px);
    background: linear-gradient(to bottom, #5433ad 50%, #6191d1 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
  }

  .open .menu-background.bottom2 {
    transform: rotate(-45deg) translateY(390%) translateX(-50px);
    background-position: 0 0;
  }

  .menu-background.top3 {
    transform: rotate(-45deg) translateY(430%);
    background: linear-gradient(to top, #6191d1 50%, #5433ad 50%);
    background-size: 100% 200%;
    background-position: -100% 100%;
  }

  .open .menu-background.top3 {
    transform: rotate(-45deg) translateY(430%);
    background-position: 0 0;
  }

  .menu-background.middle3 {
    transform: rotate(-45deg) translateY(500%) scaleY(0);
    background: #5433ad;
  }

  .open .menu-background.middle3 {
    transform: rotate(-45deg) translateY(500%) scaleY(1);
  }

  .menu-background.bottom3 {
    transform: rotate(-45deg) translateY(600%);
    background: linear-gradient(to bottom, #5433ad 50%, #6191d1 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
  }

  .open .menu-background.bottom3 {
    transform: rotate(-45deg) translateY(600%);
    background-position: 0 0;
  }

  .menu {
    position: absolute;
    top: -30px;
    left: calc(50% + 7px);
    transform: translate(-50%, 0%);
    visibility: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 99999;
  }

  .toggle {
    height: 0px;
  }

  .flex {
    display: flex;
  }

  .boxcover {
    position: absolute;
    top: 100px;
    min-width: 366px;
    width: 80%;
    height: 686px;
  }

  .open .menu {
    visibility: visible;
    max-height: 530px;
  }

  .menu li {
    opacity: 0;
    margin-bottom: 5px;
    transform: translateX(20px);
    transition: all 0.3s;
  }

  .menu li:nth-child(5) {
    transition-delay: 0.1s;
  }

  .menu li:nth-child(5) span {
    transition-delay: 0.1s;
  }

  .menu li:nth-child(4) {
    transition-delay: 0.2s;
  }

  .menu li:nth-child(4) span {
    transition-delay: 0.2s;
  }

  .menu li:nth-child(3) {
    transition-delay: 0.3s;
  }

  .menu li:nth-child(3) span {
    transition-delay: 0.3s;
  }

  .menu li:nth-child(2) {
    transition-delay: 0.4s;
  }

  .menu li:nth-child(2) span {
    transition-delay: 0.4s;
  }

  .menu li:nth-child(1) {
    transition-delay: 0.2s;
  }

  .menu li:nth-child(1) span {
    transition-delay: 0.2s;
  }

  .open .menu li {
    opacity: 1;
    transform: translateX(0);
    backface-visibility: hidden;
  }

  .open .menu li:nth-child(1) {
    transition-delay: 1.1s;
  }

  .open .menu li:nth-child(1) span {
    transition-delay: 1.1s;
  }

  .open .menu li:nth-child(2) {
    transition-delay: 1.2s;
  }

  .open .menu li:nth-child(2) span {
    transition-delay: 1.2s;
  }

  .open .menu li:nth-child(3) {
    transition-delay: 1.3s;
  }

  .open .menu li:nth-child(3) span {
    transition-delay: 1.3s;
  }

  .open .menu li:nth-child(4) {
    transition-delay: 1.4s;
  }

  .open .menu li:nth-child(4) span {
    transition-delay: 1.4s;
  }

  .open .menu li:nth-child(5) {
    transition-delay: 1.5s;
  }

  .open .menu li:nth-child(5) span {
    transition-delay: 1.5s;
  }

  .menu a {
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
  }

  .menu a::before {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    position: absolute;
    left: -30px;
    top: 50%;
    background-color: #6191d1;
    transform: translateY(-50%);
    transition: width 0.3s;
  }

  .menu a:hover::before {
    width: 15px;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
    text-align: center;
    color: #fff;
    transition: all 0.3s 1s;
  }

  .open .content {
    opacity: 0;
    transition: all 0.3s;
  }

  .logo-backdrop {
    background: #7c57e2;
    box-shadow: 0px 0px 15px #522abf;
    border-radius: 10px;
    opacity: 1;
    min-width: 336px;
    width: 90%;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    top: 20px;
    z-index: 999999;
  }

  .img-backdrop {
    height: 31px;
    width: auto;
  }

  .mainItem > h4 {
    position: relative;
    padding: 16px 0px 6px;

    color: var(--unnamed-color-ffffff);
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 0.42px;
    color: #ffffff;
    opacity: 1;
    margin-left: 20px;
  }

  .liText {
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 0.42px;
    color: #ffffff;
    opacity: 1;
    margin: 0px 40px 1px 40px;
  }

  .mainItem > h4 > span > svg {
    display: block;
    height: 22px;
    position: absolute;
    right: 14px;
    bottom: 10px;
  }

  .mainItem > ul {
    list-style-type: none;
    display: none;
  }

  .mainItem {
    border-bottom: 0.5px solid #fff;
  }

  .mainItem > ul > li {
    height: 65px;
    width: 100%;
    background: #8d6de8;
    opacity: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .languages-group {
    width: 100px;
    position: absolute;
    bottom: 41px;
    display: flex;
    left: calc(18% + 20px);
  }

  .languages-group > .language-item > a {
    margin-right: 10px;

    color: var(--unnamed-color-ffffff);
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0.48px;
    color: #ffffff;
    opacity: 1;
    text-transform: uppercase;
    cursor: pointer;
  }

  .darkmode-checkbox {
    position: absolute;
    right: 18%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    width: 90px;
    align-items: center;
    left: calc(107% + 4px);
  }

  .darkmode-checkbox > p {
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 0.48px;
    color: #ffffff !important;
    opacity: 1;
    z-index: 99;
    margin-bottom: 10px;
  }

  #checkbox-dark-mode {
    position: relative;
    appearance: none;
    visibility: hidden;
    display: none;
  }

  .check {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-color: #fff;

    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.2s;
  }

  #checkbox-dark-mode:checked ~ .check {
    background-color: #092c3e;
  }

  .check::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #092c3e;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: 0.2s;
  }

  #checkbox-dark-mode:checked ~ .check::before {
    transform: translateX(-20px);
    background-color: #fff;
  }

  .check-dark-on {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-color: #092c3e;

    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.2s;
  }

  #checkbox-dark-mode:checked ~ .check-dark-on {
    background-color: #fff;
  }

  .check-dark-on::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: 0.2s;
    transform: translateX(-20px);
  }

  #checkbox-dark-mode:checked ~ .check-dark-on::before {
    transform: translateX(0px);
    background-color: #092c3e;
  }

  .dark-mode-bubble {
    width: calc(0vw + 0vh);
    height: calc(0vw + 0vh);
    background: rgb(0 0 0 / 51%);
    transition: 0.5s;
    position: fixed;
    right: 0;
    top: 0;
    border-radius: 50%;
    z-index: 999;
    transform: translate(calc(50% - 60px), calc(-50% + 120px));
  }

  #checkbox-dark-mode:checked ~ .dark-mode-bubble {
    width: calc(300vw + 100vh);
    height: calc(300vw + 100vh);
    opacity: 0;
    visibility: hidden;
  }
}

@media (width: 1024px) {
  .boxcover {
    position: absolute;
    top: 100px;
    min-width: 366px;
    width: 80%;
    height: 1000px;
    overflow: scroll;
  }
  .open .menu {
    visibility: visible;
    max-height: 1000px;
  }
}

@media (width: 768px) {
  .group-control {
    position: absolute;
    /* top: 960px; */
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .menu-background {
    visibility: hidden;
    width: 300%;
    height: 150px;
    position: absolute;
    left: -130%;
    background-color: #5433ad;
    transition: background-position 0.3s, transform 0.3s 0.3s,
      visibility 0.3s 0.1s;
  }

  .menu-icon-toggle.change {
    position: absolute;
    top: 50px;
    right: 7%;
    z-index: 999999;
  }

  .boxcover {
    position: absolute;
    top: 100px;
    min-width: 366px;
    width: 80%;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media (max-width: 414px) {
  .boxcover {
    position: absolute;
    top: 100px;
    min-width: 366px;
    width: 80%;
    height: auto;
    z-index: 999999;
  }

  .group-control {
    position: absolute;
    /* top: 695px; */
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }

  .darkmode-checkbox {
    left: 107%;
  }
  .open .menu {
    visibility: visible;
    max-height: 474px;
  }
}

@media (max-width: 375px) {
  .boxcover {
    position: absolute;
    top: 100px;
    min-width: 300px;
    width: 80%;
    overflow: scroll;
  }

  .group-control {
    position: absolute;
    /* top: 630px; */
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }

  .logo-backdrop {
    min-width: 300px;
  }
}

@media (width: 375px) {
  .boxcover {
    position: absolute;
    top: 100px;
    min-width: 336px;
    width: 80%;
  }

  .group-control {
    position: absolute;
    /* top: 630px; */
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }

  .logo-backdrop {
    min-width: 336px;
  }
}

.po-open {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
}

.po-popcover {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 1;
  visibility: hidden;

  background-color: #7c57e2;
  z-index: -1;

  clip-path: circle(0% at 100% 0);
  -webkit-clip-path: circle(0% at 100% 0);

  transition: clip-path 0.3s ease-in, -webkit-clip-path 0.3s ease-in,
    z-index 0.9s, visibility 0.9s;
}

.po-popcover a {
  color: white;
}

.po-popcover-open {
  visibility: visible;
  opacity: 1;
  clip-path: circle(160% at 100% 0);
  -webkit-clip-path: circle(160% at 100% 0);
  z-index: 999999;
}

.po-postition-relative {
  position: relative;
}

.po-fill-full {
  width: 100vw;
  height: 100vh;
}

.po-container {
  /* padding: 20px 24px 40px 24px; */
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overscroll-behavior: none;
}

.po-box-logo-container {
  background-color: #7c57e2;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 24px 14px 24px;
  z-index: 99;
}

.po-box-logo {
  background: #7c57e2;
  box-shadow: 0px 0px 15px #522abf;
  border-radius: 10px;
  display: flex;
  position: relative;
}

.po-close-button {
  position: absolute;
  top: 25%;
  right: 20px;
  width: 20px;
}

.po-logo {
  padding: 14px 0;
  margin: auto;
}

.po-logo img {
  height: 22px;
}

.po-list-container {
  padding: 0 24px;
  flex-basis: 100%;
}

.po-list-container li {
  text-decoration: none;
  list-style-type: none;
}

.po-list-dropdown {
  cursor: pointer;
}

.po-list-dropdown-children {
}

.po-dropdown-open .po-arrow::after {
  background-image: url(/img/sort-up.svg);
  background-position: top;
}

.po-dropdown-open .po-list-dropdown-children {
  display: block !important;
}

.po-list-dropdown-text {
  position: relative;
  color: white;
  display: flex;
}

.po-arrow::after {
  content: " ";
  background-image: url(/img/sort-down.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 42%;
  right: 20px;
  width: 20px;
  height: 15px;
}

.po-list-dropdown-text:hover {
  background-color: #8c7de8;
}
.po-list-dropdown-text a {
  color: inherit;
  padding: 22px 0;
  padding-left: 20px;
  width: 100%;
}

.po-list-dropdown-text:not(:last-child) {
  border-bottom: 1px solid #c8b8f4;
}

.po-list-dropdown-children {
  overflow: hidden;
  display: none;
}

.po-list-dropdown-item {
  background: #8d6de8;
  padding: 23px 0;
  padding-left: 40px;
  margin-bottom: 2px;
  color: white;
}

.po-list-dropdown-item:hover {
  background-color: #aa8cff;
}

.po-list-dropdown-item a {
  color: inherit;
}

.po-box-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 11px 10px 14px;
  color: white;
  z-index: 999;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}

.po-language-item {
  padding: 0 5px;
}

.po-language-item-selected {
  text-decoration-line: underline;
  font-weight: bold;
}

.po-box-language {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
}

.po-box-darkmode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.po-box-darkmode-switch {
  position: relative;
}

.po-box-darkmode > * {
  margin: 0;
  padding-left: 15px;
}

.po-box-darkmode > p {
  z-index: 999;
}
